body{

}

a{
	color: white;
}

.right{
	float: right;
}
.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%; 
  height: 100%;
}

nav{
	padding: 0 15%;
	margin-bottom: 4%;
}
nav .brand-logo{
	color: #fbc02d;
}

nav ul li a{
	color: #fbc02d;
}

nav ul li.active a{
	background-color: white;
	color: black;
}

table{
	margin-top: 10%;
}

table a{
	color: black;
}

.btn{
	margin: 2% 2%;
	float: right;
}

.new{
	background-color: #00c853 ;
	float: right;
}



.new:hover{
	background-color: #00e676;
}

.regresar{
	background-color: #b0bec5;
}

.regresar:hover{
	background-color: #607d8b;

}

footer{
	background-color: 212121;
	padding: .5% 5%;
	text-align: right;
	position: fixed;
	

}

footer a{
	margin: 0 2.5%;
}


